@import url('https://fonts.googleapis.com/css?family=Alegreya');


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

* {
    margin: 0;
    padding: 0;
}

/* navbar  */ 

.container {
	display: grid; 
	grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr); 
	grid-template-rows: repeat(3, min-content); 
	grid-gap: 1.6rem; 
	margin-top: 1.6rem; 
}

.social-icons {
	grid-column: 2/4; 
	grid-row: 1/2; 
	display: grid; 
	list-style: none; 
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); 
	align-items: center;
}

.social-icon {
	font-size: 1.8rem; 
	color: 12376e; 
	transition: all .3s; 
	
}

.social-icon:hover {
	transform: rotate(45deg);
}

.first-nav {
	grid-column: 6/10; 
	grid-row: 1/2; 
}

.first-nav-list {
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); 
	list-style: none; 	
}

.first-nav-link {
	text-decoration: none; 
	color: #12368e; 
	font-size: 1.6rem; 
	display: inline-block; 
	width: 100%; 
	text-align: center; 
}

.first-nav-link::after {
	content: ""; 
	width: 0; 
	height: .1rem; 
	background-color: #12368f; 
	display: block; 
	transition: all .3s cubic-bezier(.5, 0, 1, .5);
	margin: auto; /* this makes it streatch from center outwards */ 
}

.first-nav-link:hover::after {
	width: 100%;
}

.first-nav-link span {
	font-size: 1.3rem; 
	color: #34596f; 
}

.first-nav-link i {
	font-size: 1.3rem; 
	margin-right: .3rem; 
}

/* end navbar */ 













