@import url('https://fonts.googleapis.com/css?family=Alegreya');


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

* {
    margin: 0;
    padding: 0;
}

/* navbar  */ 

.container {
	display: grid; 
	grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr); 
	grid-template-rows: repeat(3, min-content) 70vh; 
	grid-gap: 1.6rem; 
	margin-top: 1.6rem; 
}

.social-icons {
	grid-column: 2/4; 
	grid-row: 1/2; 
	display: grid; 
	list-style: none; 
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); 
	align-items: center;
}

.social-icon {
	font-size: 1.8rem; 
	color: #12376e; 
	transition: all .3s; 
}

.social-icon:hover {
	transform: rotate(45deg);
}

.first-nav {
	grid-column: 6/10; 
	grid-row: 1/2; 
}

.first-nav-list {
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); 
	list-style: none; 	
}

.first-nav-link {
	text-decoration: none; 
	color: #12368e; 
	font-size: 1.6rem; 
	display: inline-block; 
	width: 100%; 
	text-align: center; 
}

.first-nav-link::after {
	content: ""; 
	width: 0; 
	height: .1rem; 
	background-color: #12368f; 
	display: block; 
	transition: all .3s cubic-bezier(.5, 0, 1, .5);
	margin: auto; /* this makes it streatch from center outwards */ 
}

.first-nav-link:hover::after {
	width: 100%;
}

.first-nav-link span {
	font-size: 1.3rem; 
	color: #34596f; 
}

.first-nav-link i {
	font-size: 1.3rem; 
	margin-right: .3rem; 
}

.search {
	grid-column: 8/10; 
	grid-row: 2/3; 
}

.search-form {
	display: grid; 
	grid-template-columns: repeat(10, 10%); 
}

.search-input {
	grid-column: 3/-1;
	grid-row: 1/2; 
	padding: .3rem .4rem; 
	border: none; 
	border-bottom: .1rem solid #12376e; 
	outline: none; 
	font-size: 1.3rem; 
}

.search-btn {
	grid-column: 10/-1; 
	grid-row: 1/2; 
	border: none; 
	background-color: transparent; 	
}

.second-nav {
	grid-column: 2/10; 
	grid-row: 3/4; 
	border-top: .1rem solid #12376e; 
	border-bottom: .1rem solid #12376e; 
}

.second-nav-list { 
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); 
	list-style: none; 
}

.second-nav-link {
	display: grid; 
	text-align:center; 
	text-transform: uppercase; 
	text-decoration: none; 
	font-size: 1.4rem; 
	color: #12376e; 
	padding: .8rem 0rem; 
	transition: all .5s .3s; 
}

.second-nav-item:hover .second-nav-link {
	background-color: #12376e; 
	color: #fff; 
}

/* ----------- */ 

.second-nav-link::after {
	justify-self: end;
}

.second-nav-link::after, 
.second-nav-link::before {
	content: ''; 
	display: block; 
	width: 0%; 
	height: .1rem; 
	background-color: #12376e; 
	transition: width .3s cubic-bezier(.55, 0, .98, .54),
							background-color .5s .3s; 
}

.second-nav-item:hover .second-nav-link::before, 
.second-nav-item:hover .second-nav-link::after {
	width: 100%; 
	background-color: #fff; 
}

.dropdown {
	position: absolute; 
	top: 100%;  
	background-color: #fffeee; 
	width: 70rem; 
	/* */
	padding: 1.6rem; 
	display: grid; 
	grid-template-columns: repeat(7, 10rem); 
	visibility: hidden; 
	opacity: 0; 
	transition: .5s ease;
}

.dropdown-first-list, .dropdown-second-list {
	list-style: none; 
}

.second-nav-item:hover .dropdown {
	visibility: visible; 
	opacity: 1; 
}

.second-nav-item:first-child {
	position: relative; 
}

.dropdown-first-list {
	grid-column: 1/3; 
}

.dropdown-second-list  {
	grid-column: 3/5; 
}

.dropdown-image {
	grid-column: 5/-1; 
	width: 100%; 
}

.dropdown-list-link {
	margin: 0 0 1rem 1.6rem; 
	color: #34589f;
	text-transform: uppercase; 
	text-decoration: none; 
	font-size: 1.3rem; 
	display: block; 
}

.dropdown-list-link:hover {
	color: #45878a; 
}
/* End navbar */ 
/* Banner */ 

.slideshow {
	display: none; 
}

.banner {
	grid-column: 2 / 10; 
	grid-row: 4 / 5; 
	background-color: #ccc; 
	position: relative; 
}

.banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase; 
	text-align: center; /* centering buttons */ 
}

.banner-heading {
	font-size: 10rem; 
	color: #12365e; 
}

.banner-btn {
	width: 16rem; 
	height: 6rem; 
	background: linear-gradient(to top, #00154c, #12376e, #23487f); 
	color: #fff; 
	border: .1rem solid #fff; 
	outline: none; 
	border-radius: .3rem; 
	
	position: relative; 
	overflow: hidden; 
}

.banner-content span {
	text-transform: uppercase;
}

.banner-btn-text-1 {
	position: absolute; 
	top: 50%; 
	left: 0; 
	transform: translateY(-50%); 
	width: 100%; 
	transition: top .2s; 
	
}

.banner-btn-text-2 {
	position: absolute; 
	top: 150%; 
	left: 0; 
	transform: translateY(-50%); 
	width: 100%; 
	transition: top .2s;
}

.banner-btn:hover .banner-btn-text-1 {
	top: -150%; 
}

.banner-btn:hover .banner-btn-text-2 {
	top: 50%; 
}
/* end of banner */ 













